@import url('https://fonts.googleapis.com/css2?family=Dhurjati&family=Press+Start+2P&family=Roboto:wght@100;300;400&family=Sansita:ital@0;1&display=swap');



//Colors
$primary_color: #29FA0B;
$secondary_color: #2C332B;
$terceary_color: #F3FA0A;

//Typograph
$first_font:"Press Start 2P";
$secondary_font:"Sansita";

//Sizes:
$font_sm:1.2rem;
$font_md:2.4rem;
$font_lg:3.6rem;


//Percent
$per_25:25%;
$per_33:33.33%;
$per_50:50%;
$per_75:75%;
$per_100:100%;


//screen:
$screen_mc:360px;
$screen_sm:768px;
$screen_md:1366px;
$screen_lg:1920px;